{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeIt - Editor, Compiler and Interpreter</title>
    <link rel="shortcut icon" href="{% static 'img/fevicon.jpg' %}" type="image/x-icon">
    <meta name="description" content="Write, Edit and Compile Programming Languages like C, C++ and Python. Share your code in the easiest way. Highlight Syntax in the Code Editor. The most reliable Compiler and Interpreter.">
    <meta name="keywords" content="online python compiler,c online compiler,HTML,CSS,XML,JavaScript,Python,C,C++,Django,Compiler,Interpreter, jQuery">
    <meta name="author" content="Omkar Kulkarni">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/editor.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>
    <header>
        <nav class="topnav">
            <a href="#">
                CodeIt
            </a>
            {% if user.is_authenticated %}
                <a href="javascript:savedCode();"> Saved Code </a>
                <a href="javascript:sharedCode();"> Shared Code </a>
                <a href="{% url 'logout' %}"> Logout </a>
            {% else %}
                <span id="register-navbar" onclick="showRegister();">
                    Register
                </span>
                <span id="login-navbar" onclick="showLogin();">
                    Login
                </span>
            {% endif %}

            <a href="https://drive.google.com/file/d/12AoXCJuMLV2zT4fxp2o3Q6AiKhtyCAmW/view?usp=sharing" target="_blank">
                Help
            </a>

            <span id="report-bug" onclick="location.href='mailto:omkulkarni22@gmail.com';" title="Mail Bug to Developer">
                Report Bug
            </span>
        </nav>
    </header>

    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        {% if user.is_authenticated %}
            <a href="javascript:savedCode();">Saved Code</a>
            <a href="javascript:sharedCode();"> Shared Code </a>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="javascript:showRegister();" id="register-navbar">Register</a>
            <a href="javascript:showLogin();" id="login-navbar">Login</a>
        {% endif %}
        <a href="https://drive.google.com/file/d/12AoXCJuMLV2zT4fxp2o3Q6AiKhtyCAmW/view?usp=sharing" target="_blank">Help</a>
        <a href="mailto:omkulkarni22@gmail.com">Report Bug</a>
    </div>
    <button class="openbtn" onclick="openNav()">☰ Code It</button>

</body>

{% block login %}
{% endblock login %}

{% block editor %}
{% endblock editor %}

{% block savedCode %}
{% endblock savedCode %}

{% if messages %}
    {% for message in messages %}
        <div id="snackbar">{{ message }}</div>
        <script>
            function myFunction() {
              var x = document.getElementById("snackbar");
              x.className = "show";
              setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
            }
            myFunction()
        </script>
    {% endfor %}
{% endif %}

<script>
    {% if not user.is_authenticated %}
        sessionStorage.clear();
    {% endif %}
</script>

</html>
