{% extends 'base.html' %}
{% load static %}

{% block editor %}
    <!-- Editor -->
    <div id="editor">
    </div>

    <!-- Compilier  -->
    <div id='compilier'>

        <!-- Programming Languages Dropdown -->
        <select name="language" id="p_language" title="Select Programming Language">
            <option value="c" class="options">C</option>
            <option value="cpp" class="options">C++</option>
            <option value="python" class="options">Python</option>
        </select>

        <!-- FontSize for Editor -->
        <select name="select-font-size" id="select-font-size" onchange="changeFontSize();" title="Select Font Size">
            <option value="16px" class="options">16px</option>
            <option value="18px" class="options" selected>18px</option>
            <option value="20px" class="options">20px</option>
            <option value="22px" class="options">22px</option>
            <option value="24px" class="options">24px</option>
            <option value="26px" class="options">26px</option>
            <option value="28px" class="options">28px</option>
            <option value="30px" class="options">30px</option>
        </select>

        <!-- TextArea-Custom Input -->
        <textarea name="custom_input" id="custom_input" rows="6" cols="39" placeholder="Enter Custom Input Here (If any)"></textarea>

        <!-- Buttons -->
        <button id="compile-btn" onclick="compileCode()">Compile</button>
        <button id="save-btn" onclick="saveCode()">Save</button>
        <button id="share-btn" onclick="showShareOptions()">Share</button>

        <div class="loader"></div>
        <div id="compile-message"></div>

        <div id="saved-code">
            <table id="myTable">
                  <tr>
                    <th>Date Time</th>
                    <th>Name</th>
                    <th>Code</th>
                  </tr>
                </table>
        </div>

    </div>

    <!-- Main Ace Editor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ace.min.js " type="text/javascript" charset="utf-8 "></script>

    <!-- JS Worker  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/worker-javascript.min.js " integrity="sha512-hwPBZJdHUlQzk8FedQ6S0eqJw/26H3hQ1vjpdAVJLaZU/AJSkhU29Js3/J+INYpxEUbgD3gubC7jBBr+WDqS2w==" crossorigin="anonymous" referrerpolicy="no-referrer "></script>

    <!-- Theme  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/theme-monokai.min.js " integrity="sha512-wZYGbdk0giM73l8BLDNfSEziApAmH8DvXey6zNLG3QUgDeDsMAPm3FIdjhLwrGOWO0vdVHkVxeUzOBR0Hc/xBA==" crossorigin="anonymous" referrerpolicy="no-referrer "></script>

    <!-- C/C++ Mode  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/mode-c_cpp.min.js " integrity="sha512-dxOWVFGgO0QZsn3ZyE3DSMDO53d4dpI3dashemV1+SSdejPhTsC1PShhHjsAwOi1oyk9ErBx6efuOpOOJtbIFg==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
    <!-- C/C++ Autocomplete file  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/snippets/c_cpp.min.js" integrity="sha512-4GcMR+gd1yUV/u7qIgrwhmS1YdXTE7H2F8ByQipCm7TLZMDHEOGFd3Vz6BeGJIhyu6b7n9nv5LDpCr+M+Jfo2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- Python Mode -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/mode-python.min.js" integrity="sha512-5quc8iiv3k68XXN7adEav7dyI4bnTDz7WSa99HZmgJk8gZlabsTQibJso2fAZpSO598IZIasgfu/StF9oX+kqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Python Autocomplete file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/snippets/python.min.js" integrity="sha512-QlDxAY08FSUbmRi46v+pZBc/XhwbU6hS20UdcCeGdM9RIHXnGvPwqM08WvZr3vFXWiGrzTAqCKayx0nkWBk7hA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Required for basic auto completion  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.13/ext-language_tools.min.js" integrity="sha512-S7Whi8oQAQu/MK6AhBWufIJIyOvqORj+/1YDM9MaHeRalsZjzyYS7Usk4fsh+6J77PUhuk5v/BxaMDXRdWd1KA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- All own functions written here -->
    <script src="{% static 'js/editor.js' %} "></script>
    <script src="{% static 'js/script.js' %}"></script>



{% endblock editor %}

