{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeIt - Editor, Compiler and Interpreter</title>
    <link rel="shortcut icon" href="{% static 'img/fevicon.jpg' %}" type="image/x-icon">
    <meta name="description" content="Write, Edit and Compile Programming Languages like C, C++ and Python. Share your code in the easiest way. Highlight Syntax in the Code Editor. The most reliable Compiler and Interpreter.">
    <meta name="keywords" content="online python compiler,c online compiler,HTML,CSS,XML,JavaScript,Python,C,C++,Django,Compiler,Interpreter, jQuery">
    <meta name="author" content="Omkar Kulkarni">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/editor.css' %}">
    <script src="{% static 'js/script.js' %}"></script>

</head>

<body>
    <header>
        <nav class="topnav">
            <a href="#">
                CodeIt
            </a>
            <a href="https://drive.google.com/file/d/12AoXCJuMLV2zT4fxp2o3Q6AiKhtyCAmW/view?usp=sharing" target="_blank">
                Help
            </a>
            <span id="report-bug" onclick="location.href='mailto:omkulkarni22@gmail.com';" title="Mail Bug to Developer">
                Report Bug
            </span>
        </nav>
    </header>

    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="https://drive.google.com/file/d/12AoXCJuMLV2zT4fxp2o3Q6AiKhtyCAmW/view?usp=sharing" target="_blank">Help</a>
        <a href="mailto:omkulkarni22@gmail.com">Report Bug</a>
    </div>
    <button class="openbtn" onclick="openNav()">☰ Code It</button>

    <div class="container">
        <h3 id='h3'> Forget Password </h3>

        <form id="forgotPassword" method="post">

            <p>You are resetting password for the Email ID: <b> {{ email }} </b></p>
            <input type="password" id='password' name="password" class="input" placeholder="Password" title="Enter Password" required>
{#            <input type="password" id='confirm_password' name="password" class="input" placeholder="Confirm Password" title="Enter Confirm Password" required>#}

            <button class="btn" type="submit" title="Submit the Form">Submit</button>
            <button class="btn" type="reset" title="Reset the Form">Reset</button>
        </form>
    </div>

</body>

</html>
