<!doctype html>
<html lang="en" style="background-color: grey; color: white;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
</head>

<body>
    <div style="width: 50%; margin: 20vh auto; text-align: justify" id="main">
        <h2>URL PASSWORD RESET</h2>
        <p>
            Dear, You have requested to reset your password and here it is.
        </p>
        <p>
            Please Click on the below link and follow the instructions.
        </p>
        <button style="width: 100px; height: 5vh; border-radius: 12px;"><a href="#" style="text-decoration: none;">
            Reset
        </a></button>
    </div>
</body>
</html>